
@model List<GetTeamVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Takım Üyeleri</h4>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Id</th>
                            <th>Ad</th>
                            <th>Görev</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var team in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="~/images/team/@team.ImageUrl" alt="image" width="100" />
                                </td>
                                <td>@team.Id</td>
                                <td>@team.FullName</td>
                                <td>@team.Title</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Teams" asp-action="UpdateTeam" asp-route-id="@team.Id" class="btn btn-outline-success">Güncelle</a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@team.Id">
                                        Sil
                                    </button>

                                    <div class="modal fade" id="exampleModal-@team.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Silme Uyarısı</h5>
                                                </div>
                                                <div class="modal-body">
                                                    Silmek istediğinize emin misiniz?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">İptal</button>
                                                    <a asp-area="Admin" asp-controller="Teams" asp-action="RemoveTeam" asp-route-id="@team.Id" class="btn btn-outline-danger">Sil</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a asp-area="Admin" asp-controller="Teams" asp-action="CreateTeam" class="btn btn-outline-info mt-2">Yeni Takım Üyesi Ekle</a>
            </div>
        </div>
    </div>
</div>

